tex/sample.aux
tex/sample.fdb_latexmk
tex/sample.fls
tex/sample.log
tex/sample.pdf
tex/sample.synctex.gz
tex/chap1.aux
tex/sample.toc
tex/.vscode/launch.json
tex/chap2.aux
R/logx.tex
R/sinx.tex
tex/streamlined_latex_compilation.code-workspace
tex/chap3.aux
tex/fig/chap3_fig/chap3_fig001.png
tex/fig/chap3_fig/chap3_fig002.png
tex/fig/chap3_fig3/chap3_fig3001.png
tex/fig/chap3_fig.key
tex/chap4.aux
tex/chap5.aux
tex/fig/chap5_fig/prob6-1.png
tex/fig/chap5_fig/prob6-2.png
tex/fig/chap5_fig/prob6-3.png
tex/fig/chap5_fig/函数論第5章問題6.JPG
tex/fig/chap5_fig/prob7-1.png
tex/fig/chap5_fig/prob7-2.png
tex/chap6.aux
tex/sample.synctex(busy)
tex/fig/chap6_fig/xON.jpg
tex/fig/chap6_fig/ONP.jpg
tex/fig/chap6_fig/Sdis.jpg
tex/fig/chap6_fig/立体射影.gcx
tex/fig/chap6_fig/prob6.png
tex/chap7.aux
tex/fig/chap7_fig/chap7-prob6-1.jpg
tex/fig/chap7_fig/chap7-prob6-2.jpg
tex/fig/chap7_fig/chap7-prob6-3.jpg
tex/chap8.aux
tex/fig/chap8_fig.key
tex/fig/chap8_fig/chap8_fig001.png
tex/fig/chap8_fig/chap8_fig002.png
tex/fig/chap8_fig/chap8_fig003.png
tex/fig/chap8_fig/chap8_fig004.png
tex/fig/chap8_fig/chap8_fig005.png
